@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin');

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }